  /* Main-content */
    .main-content {
        flex-grow: 1;
        margin-left: 200px;
        padding: 80px 30px 30px 30px;
        box-sizing: border-box;
    }

    .main-box {
        background-color: #2e2e2e;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    /* Chức năng */
    .actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .actions button{
        cursor: pointer;
    }
    .button-hover {
    background-color: #ffc107;
    color: white;
    }
    .actions button, input{
        border: none;
        border-radius: 10px;
        padding: 5px;
    }
    /* Bảng */
    .movie-table {
        background-color: #1e1e1e;
        border-radius: 8px;
        overflow: hidden;
    }

    .movie-table thead {
        background-color: #ffc107;
        color: #000;
    }

    .movie-table th,
    .movie-table td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    .movie-table tbody tr:hover{
        background-color: #444;
    }

    .movie-table tbody tr:last-child td {
        border-bottom: none;
    }
    /* Phân trang */
    .pagination {
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
        border-top: 1px solid #444;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        gap: 5px;
    }
    /* Nút phân trang */
    .pagination-button {
        background-color: #444;
        color: white;
        border: 1px solid #555;
        padding: 6px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .pagination-button.active {
        background-color: #ffc107;
        border-color: #ffc107;
        font-weight: bold;
    }

    .pagination-button:hover {
        background-color:  #ffc107
    }


    /* addfilm */
    .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color:black;
    }

  .modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
    background: black;
    color: #ffc107;
    border-radius: 8px;
    position: relative;
  }

  .modal-content input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  box-sizing: border-box;
  }

  .modal-content .btn-add {
  padding: 10px 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

  .modal-content .btn-add:hover{
    background-color: #ffc107e1;
    color: rgba(255, 255, 255, 0.897);
  }

  .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  }



    /* deletect */
    .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
    }

  .modal-content {
  background-color: black;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  max-height: 80vh;        /* Giới hạn chiều cao modal */
  overflow-y: auto;
  }

    .modal-buttons {
    margin-top: 20px;
    }

    .modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    }

  .btn-delete {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  }

  .btn-delete:hover{
    background-color: rgba(255, 0, 0, 0.89);
  }

  .btn-cancel {
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-cancel:hover{
    background-color: #ffc107e8;
}
