body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
}

.success-container {
  max-width: 820px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  color: #00cc66;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  color: #dddddd;
}

/* Ticket Card */
.ticket-card {
  background: #fff;
  color: #000;
  border-radius: 16px;
  padding: 20px;
  text-align: left;
}

/* Header section */
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.cinema-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cinema-info img{
  object-fit: cover;
  border-radius: 50%;
}

.cinema-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.movie-title {
  font-weight: bold;
  margin: 5px 0;
}

.ticket-actions i {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Ticket body */
.ticket-body {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.poster {
  width: 140px;
  border-radius: 10px;
}

.ticket-details {
  flex: 1;
  font-size: 14px;
}

.ticket-details p {
  margin-bottom: 5px;
}

.ticket-details .code {
  font-weight: bold;
  letter-spacing: 1px;
}

.ticket-details .time {
  color: #e28a00;
  font-weight: bold;
}

.ticket-details small {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #555;
}

.note{
  text-align: center;
}

.qr-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-top: 20px;
}

.qr-code {
  width: 90px;
  height: 90px;
}
