   :root {
  --bg-dark: #292929; /*Màu nền chính của web*/
  --bg-footer: #222; /*Màu nền cho footer*/
  --highlight: #EBB802; /*Màu vàng của button và đường kẻ*/
  --text-light: white; /*Màu chữ sáng*/
  --poster-hover-opacity: 0.3; /*Độ mờ khi di chuột vào*/
  --scrollbar-thumb: rgba(255, 255, 255, 0.2); /*Màu thanh cuộn ngang*/
}
    body {
      font-family: Arial, sans-serif;
      background-color: #222;
      color: #fff;
    }
    .success-container {
      padding: 20px;
      text-align: center;
    }
    .ticket-card {
      background: #fff;
      border-radius: 10px;
      margin: auto;
      max-width: 900px;
      color: #000;
    }
    .ticket-header-full {
      background: black;
      border-radius: 10px 10px 0 0;
      padding: 20px 30px;
      color:white;
      border-bottom: 1px solid #ccc;
    }
    .ticket-header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .header-left img.logo {
      width: 70px;
    }
    .header-info h3 {
      margin: 0;
      font-size: 20px;
    }
    .header-info .movie-title {
      font-weight: bold;
      font-size: 18px;
      margin: 5px 0;
    }
    .ticket-actions i {
      font-size: 20px;
      margin-left: 15px;
      cursor: pointer;
      background-color: var(--highlight);
      color:#292929;
      padding: 6px;
      border-radius: 8px;
    }
    .ticket-body {
      display: flex;
      padding: 20px 30px;
      gap: 30px;
      align-items: center;
    }
    .poster {
      width: 180px;
      height: auto;
      border-radius: 10px;
    }
    .ticket-details p {
      margin: 6px 0;
      font-size: 16px;
    }
    .price {
      font-weight: bold;
      color: #e67e22;
    }
    .qr-section {
      margin-left: auto;
    }
    .qr-code {
      width: 140px;
      height: 140px;
    }
    .note {
      font-size: 13px;
      margin-top: 10px;
    }
 