:root {
  --bg-dark: #292929;
  --bg-footer: #222;
  --highlight: #ebb902e8;
  --text-light: white;
  --poster-hover-opacity: 0.3;
  --scrollbar-thumb: rgba(255, 255, 255, 0.386);
}
body{
  background-color: var(--bg-dark);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Layout chính */
.admin-layout {
  display: grid;
  grid-template-columns: 300px 1fr 1fr; /* Sidebar - Main - Padding phải */
  grid-template-rows: min-content 1fr 1fr; /* Header - Nội dung - Footer (mỏng) */
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main";
  height: 100vh;
  gap: 0; /* Không để khoảng cách lưới */
  background-color: var(--bg-dark);
  color: var(--text-light);
}

/* Header */
.header-container {
  grid-area: header;
  border-bottom: 1px solid var(--text-light);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  padding-top:0;
  margin-top:0;
  background-color: #1c1c1c;
  text-align: center;
  transition: all 0.3s ease;
  overflow-y: auto;
  z-index: 998;
}

.sidebar.hidden{
  transform: translate(-100%);
}
.toggleSidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  background-color: #2e2e2e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:100%;
  gap:20px;
  
}

.sidebar-item a {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  text-decoration: none;
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item a i {
  margin-right: 10px;
  width: 20px; /* Đảm bảo icon thẳng hàng */
  text-align: center;
}

.sidebar-item a:hover,
.sidebar-item a.active {
  background-color: var(--highlight);
  color: #000;
  font-weight: bold;
}

.sidebar a.active {
  background: var(--highlight);
  color: #222 !important;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0002;
}

/* Nội dung chính */
.main-content {
  grid-area: main;
  padding: 20px;
  border-left: 1px solid var(--text-light);
  background-color: #2b2b2b;
  overflow-y: auto;
}
