body{
    background-color: white;
    margin: auto;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #121212;
    gap: 10px;
}
header a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #5a5959;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 550; /*độ đậm*/
    transition: 0.5s; /* chuyển màu khi hover lên button */
}
header a:hover{ background-color: rgb(242, 193, 33);}
nav{
    display: flex;
    justify-content: center;
    background-color: #121212;
    margin-top: 2px;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s;
}
nav a:hover{color: rgb(242, 193, 33);}
section{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 2px;
  background-color: #121212;
}
section img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
section .khungtron{
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 100px;
}
section .khungtron div{
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.5; /*chỉnh độ mờ*/
  border-radius: 50%;
}
section .muitentrai, .muitenphai{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
}
section .muitentrai{
    left: 10px;
}
section .muitenphai{
    right: 10px;
}
h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #121212;
    margin: auto;
    padding-top: 10px;
}
.movie{
    display: flex;
    justify-content: space-around; /* căn đều các phần tử con */
    gap: 5px; /* khoảng cách giữa các phim */
    background-color: #121212;
}
.movie1 img, .movie2 img, .movie3 img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.movie1 .button, .movie2 .button, .movie3 .button{
    display: flex;
    justify-content: center;
    gap: 5px; /* khoảng cách giữa 2 ô */
}
.movie1 .button div, .movie2 .button div, .movie3 .button  div{
    background-color: rgb(242, 193, 33);
    border-radius: 10px;
    padding: 5px 10px;
}
.movie1 a, .movie2 a, .movie3 a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}


